*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background:#1f2937;
    height: 350px;
}

.sec-navbar{
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 50px;
}

.hero{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.second{
    width: 400px;
    filter: contrast(70%);
}
.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

ul a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul li{
    margin-left: 20px;
}

.lake{
    display: flex;
    max-width: 1230px;
    height: 220px;
}

.signupbutton{
    justify-content: center;
    margin-top: 10px;
    display: flex;
    background: #3882F6;
    width: 100px;
    align-items: center;
    height: 30px;
    border-radius: 15%;
    padding: 15px;
}

.navbar img{
    margin-top: 40px;
    width: 350px;
    height: 180px;
    margin-right: 180px;
    
}

.second{
    color: #e5e7eb;
    font-size: 18px;
}