*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background:#1f2937;
    height: 500px;
}

.sec-navbar{
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 100px;
}

.hero{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.second{
    width: 400px;
    filter: contrast(70%);
}
.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

ul a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul a:hover{
    color:lightskyblue;
}

ul li{
    margin-left: 20px;
}

.lake{
    display: flex;
    max-width: 1230px;
    height: 220px;
}

.signupbutton{
    justify-content: center;
    margin-top: 10px;
    display: flex;
    background: #3882F6;
    width: 100px;
    align-items: center;
    height: 30px;
    border-radius: 15%;
    padding: 15px;
}
.signupbutton a{
    text-decoration: none;
    color: #f9faf8;
}

.signupbutton a:hover{
    color: lightskyblue
}

.navbar img{
    margin-top: 110px;
    width: 380px;
    height: 200px;
    margin-right: 160px;
    
}

.second{
    color: #e5e7eb;
    font-size: 18px;
}
.content{
    margin-top: 20px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images{
    width: 750px;
    display: flex;
    margin-top: 30px;
    justify-items: center;
}

.images img{
    width: 145px;
    height: 150px;
}
h1{
    filter: contrast(70%);
}

.imagetxt{
    filter: contrast(60%);
}

.image1,
.image2, 
.image3, 
.image4{
    width: 150px;
    text-align: center;
    margin-right: 40px;
}
