*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    padding-left: 10%;
    justify-content: left;
    border: solid grey;
    display: flex;
    background:#1f2937;
    height: 500px;
    flex-shrink: 1;
}
.lake{
    width: 50%;
    flex-shrink: 1;
    align-items: flex-start;
    display: flex;
    max-width: 1230px;
}


.sec-navbar{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.hero{
    flex-shrink: 1;
    margin-top: 70px;
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.second{
    flex-shrink:1;
    width: 400px;
    filter: contrast(70%);
}
.container{
    padding-left: 50px;
    width: 45%;
    order: 2;
    display: flex;
    justify-content: flex-start
    align-items: flex-start;
    flex-shrink: 2;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    flex-shrink: 1;
}

ul{
    width: 170%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-shrink: 1;
}

ul a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}

ul a:hover{
    color:lightskyblue;
}

ul li{
   justify-content: space-between;
}



.signupbutton{
    justify-content: center;
    margin-top: 10px;
    display: flex;
    background: #3882F6;
    width: 100px;
    align-items: center;
    height: 30px;
    border-radius: 15%;
    padding: 15px;
}
.signupbutton a{
    text-decoration: none;
    color: #f9faf8;
}

.signupbutton a:hover{
    color: lightskyblue
}

.navbar img{
    margin-top: 110px;
    width: 230%;
    height: 200px;
    flex-shrink: 1;
    
}

.second{
    color: #e5e7eb;
    font-size: 18px;
}
.content{
    margin-top: 20px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images{
    margin-left: 20px;
    height: 200px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap
}

.images img{
    width: 145px;
    height: 150px;
}
h1{
    filter: contrast(70%);
}

.imagetxt{
    filter: contrast(60%);
}

.image1,
.image2, 
.image3, 
.image4{
    width: 150px;
    text-align: center;
    margin-right: 40px;
}

.quotes{
    color: #1f2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    background: #e5e7eb;
    height: 400px;
}

.quotetext{
    font-style: italic;
    max-width: 800px;
    font-weight: 100;
}

.qauthor{
    margin-top: 35px;
    margin-left: 300px;
    font-weight: bold;
    font-size: 24px;
}

.actioncontainer{
    min-width: 200px;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 50px;
}

.action{
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
    background: #3882F6;
    height:150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.actionleft{
    flex-shrink: 1;
    align-self: center;
    justify-content: left;
}

.sign{
    border: solid white 2px;
    margin-left: 50px;
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 20%;
    align-self: center;
    display: flex;
    align-items: center;
    color:#f9faf8;
    justify-content: center;
    flex-shrink: 1;
}

.mainaction{
    color: white;
    font-weight: bold;
}

.secaction{
    color: white;
    filter: contrast(70%);
}

.footer{
    width: 100%;
    color: white;
    background:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}